.form-newsletter {
    display: flex;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 7px;
    border: 2px solid black;
    background-color: rgb(99, 99, 99);
}
.form-newsletter_label {
    position: absolute;
    left: -10000px;
}
.form-newsletter_campo {
    padding: .6rem .4rem;
    flex-grow: 1;
    border: none;
}
.form-newsletter_botao {
    flex-grow: 1;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: black;
    color: #fff;
}